<div class="container mt-4">
  <div class="card">
    <h1 class="text-center p-3">list your car</h1>
  </div>
    <div class="container card p-2 mt-5">
      <%= simple_form_for (@car), html: { class: "form-inline"} do |f| %>
      <div class="row">
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :brand, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :model, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :fuel_type, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :category, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :location, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :year, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :space_available, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :price_per_day, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group mt-5">
            <%= f.input :car_available, class: "form-control" %>
          </div>
        </div>
        <div class="form-group"><%= f.submit class: "btn btn-primary" %></div>
      </div>
      <% end %>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </div>
</div>
