<div class="container mt-5">
  <div class="newsletter-subscribe">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">List your car</h2>
        <p class="text-center">details for the car you want to add</p>
      </div>
    <div class="container p-2 mt-5">
      <%= simple_form_for (@car), html: { class: "form"} do |f| %>
      <div class="row">
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :brand, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :model, class: "form-control bg-primary" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :price_per_day, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :location, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group">
            <%= f.input :year, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group mt-5">
          <%= f.label :fuel_type %>
            <%= f.select :fuel_type, [["Gasoline", "Gasolin"], ["Diesel", "Diesel"], ["GPL", "GPL"], ["Electric", "Electric"]], class:"form-select", aria_label:"Default select example" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group mt-5">
            <%= f.input :car_available, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group mt-5">
          <%= f.label :category %>
            <%= f.select :category, [["Cabrio", "Cabrio"], ["SUV", "SUV"], ["Minivan", "Minivan"], ["Sedan", "Sedan"], ["Coupe", "Coupe"], ["StationWagon", "StationWagon"], ["Hatchback", "hatchback"], ["Sportscar", "Sportscar"]], class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 select">
          <div class="form-group mt-5">
            <%= f.label :space_available %>
            <%= f.select :space_available, [[1, 1],[2, 2], [3, 3], [4, 4],[5, 5], [6, 6], [7, 7], [8, 8], [9, 9]], class: "form-control" %>
          </div>
        </div>
        <div class="form-group"><%= f.submit class: "btn btn-primary" %></div>
      </div>
      <% end %>
  </div>
</div>
