<div class="row justify-content-center">
  <div class="container1 col-8 position-relative">
    <h1 class="mt-4 mb-3">Car Details</h1>
      <%= button_to car_path(@car), method: :delete,
        form: {data: {turbo_confirm: "are you sure?"}}, style:"border:none", class:"my_class" do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>

    <div class="card1">
      <div class="card-header1 d-flex justify-content-between align-items-center">
        <h4><%= @car.brand %> <%= @car.model %></h4>
        <div class="d-flex align-items-center gap-">
          <button class="button-57" role="button"><span class="text">Book Now!</span><span>Enjoy the ride!</span></button>
          <%= link_to "Edit Car", edit_car_path(@car), class: "button-57", role: "button" %>
        </div>
      </div>
      <div class="card-body1">
        <div class="row">
          <div class="col-sm-6">
            <p><strong>Fuel Type:</strong> <span><%= @car.fuel_type %></span>
            <p><strong>Category:</strong> <span><%= @car.category %></span>
            <p><strong>Location:</strong> <span><%= @car.location %></span>
            <p><strong>Year:</strong> <span><%= @car.year %></span>
            <p><strong>Space Available:</strong> <span><%= @car.space_available %></span>
            <p><strong>Price Per Day:</strong> <span><%= @car.price_per_day %></span>
            <p><strong>Car Available:</strong> <span><%= @car.car_available ? 'Yes' : 'No' %></span>
          </div>
          <div class="col-sm-6">
            <!-- Add an image of the car here -->
            <img src="https://www.edmunds.com/assets/m/volkswagen/passat/2002/oem/2002_volkswagen_passat_sedan_gls-18t_fq_oem_1_500.jpg">
            <%# <%= image_tag @car.image_url, class: "img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
